#content{
    background: #f6f6f6!important;
}

#content .gap-text{
    background-color: #B2DFDB!important;
    padding: 15px 25px!important;
    text-align: left!important;
    line-height: 20px!important;
    border-radius: 30px!important;
    font-size: 20px!important;
    font-weight: bold!important;
    color: #585858!important;
    font-family: monospace!important;
    
}

.card , .small-card{
    
    background: rgb(255, 205, 123)!important;
    padding: 0!important;
    margin: 0!important;
    border: none!important;
    margin: 10px auto!important;
    display: block!important;
    text-align: center!important;
    width: calc(100% - 40%) !important;
    padding: 10px!important;
    font-weight: bold!important;
    font-size: 17px!important;
    border-radius: 30px!important;
    box-shadow: 1px 1px 2px 0px #c1c1c1!important;
}


.input-field {
    width: 100%!important;
    display: block!important;
    height: 2.2em!important;
    border-radius: 30px!important;
}


.input-field :active, .input-field :focus {
    outline: none!important;
    border: none!important;
}

#checkSolutionBtn{
    background: #b0e4b4;
    color: #3b533d;
    padding: 21px 23px;
    width: 80px;
    height: 80px;
    box-shadow: 2px 2px 4px 1px #959595;
    font-size: 30px;
    border: 2px solid #3b533d;
}


/* meseage */
#AppClientTaskPanel{
    border-radius: 8px !important;
    background-color: #ffffff!important;
    border-top: 9px solid rgb(255, 158, 0)!important;
    border-left: 1px solid #dddd!important;
    border-right: 1px solid #dddd!important;
    border-bottom: 1px solid #dddd!important;
    padding: 25px!important;
    -webkit-box-shadow:none !important;
            box-shadow:none !important;
  }
  #AppClientTaskPanel p{
    margin: 0 0 15px !important;
    color: #2f2f2f!important;
  }
  #AppClientTaskPanel div{
    color: #4c4c4c!important;
    text-align: justify!important;
  }
  #AppClientTaskPanel div button{
    font-size: 120%!important;
    width: 100%!important;
    margin: 25px 0 0!important;
    padding: 5px!important;
    border: none!important;
    color: #fff!important;
    background: rgb(15, 108, 227);
    border-radius: 20px!important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  #AppClientTaskPanel div button:hover{
    opacity: 0.5!important;       
  }
